!!!
%html
  %head
    %meta{content:"text/html; charset=UTF-8", http-equiv = "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.5.0/css/all.css",integrity: "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU",rel: "stylesheet"}/

  %body
    = render 'shared/sidebar'

  .right_content
    .chat_mainspace
      .title
        %button.edit__button
          edit
        .message
          = render @messages
    #footer
      .form_area
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .chat__main
            = f.label :image, class: 'chat__main__image' do
              =fa_icon 'picture-o', class: 'icon'
              =f.file_field :image, class: 'hidden'
          =f.submit 'Send', class: 'form__submit'
          /#form_forで2つの引数を渡している。普通、messageのCreateアクションは、messages_pathにPOSTメソッドでリクエストを送った際に実行される。今回は、messageはgroupにネストされている(ルーティング)のでパスがgroup_message_pathとなっている。@messageだけではmessage_pathにリクエストを送るのでレコード保存不可。
          /#ネストされたモデルに対してform_forを用いる場合は、親のインスタンス（もしくは親のid）を第１引数、このモデルインスタンスを第２引数に設定する！
