!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.5.0/css/all.css", :integrity => "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", :rel => "stylesheet"}/

  %body
    = render 'shared/sidebar'
  .right_content
    .chat_mainspace
      .title
        %button.edit__button
          edit
        %p.title_group_title タイトル
        %p.title_group_member 太郎、次郎、三郎、三四郎
      .chat_texts
        %p.testrightbold 太字
        %p.test_date 日付日付日付
        %o.test_right_nomal チャット文章
      .chat_texts
        %p.testrightbold 太字
        %p.test_date 日付日付日付
        %o.test_right_nomal チャット文章
    #footer
      .form_area
        %form#message_form{:method => "post"}
          .chat-main
            %input.form_part{:name => "message[body]", :placeholder => "type a message", :type => "text"}/
            %label.form-file{for: "upload-icon"}
              = fa_icon "image"
              %input#upload-icon{:type => "file", :name => "message[image]"}/
            %input#send__button{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send!"}/