!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "path/footerFixed.js", :type => "text/javascript"}
%body
  %header
    %p.test_header ヘッダー
  .left-menu
    .left_upper
        %ul.header__lists
          %li.list
            = link_to do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li.list
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'

= yield