!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "path/footerFixed.js", :type => "text/javascript"}
%body
  #wrapper
    %header
      %p.test_header テストー

    .left-menu
      .left_upper
        %p.test テストでござーる。
        %p.text_awesome
          = link_to "/messages" do
            %i.fa.fa-cog
          %i.fas.fa-edit
      .left_lower
        %p.test2big テストでござる。
        %p.test2small test.

        %p.test2big テストでござる。
        %p.test2small test.
    .right_content
      .title
        %button.edit__button
          edit
        %p.title タイトル
        %p.title_small AAAAAAAAAAAAAAAAAABBBBBBAAAAAAAAAAAAAAAAAAAAAA
      .chat_texts
        %p.testrightbold 太字
        %p.test_date さっきだよ！
        %o.test_right_nomal
        = fa_icon("home")
      .chat_texts
        %p.testrightbold 太字
        %p.test_date さっきだよ！
        %o.test_right_nomal
        = fa_icon("home")


  / %footer.testfooter
  /   .form_area
  /     .chat__form
  /       %form
  /         %input
  /         %label.upload-label{for: "upload-icon"}
  /           %i.fa.fa-picture-o#upload-icon
  /     %button.send__button
  /       send

#footer
  .form_area
    %form#message_form{:method => "post"}
      .chat-main
        %input.form_part{:name => "message[body]", :placeholder => "type a message", :type => "text"}/
        %label.chat-file
          %input#message_image_upload.fas{:type => "file", :name => "message[image]",}/
          %i.fa.a-image
        %input#send__button{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send!"}/

